{% extends "base/base.html" %}

{% load static i18n partials base_components wedding_gifts_components %}

{% block content %}
<nav class="w-screen my-20">
    <div>
        {% block registry_select_header %}
        {% endblock %}
        <div class="relative border-t-4 border-b-4 border-kara-strong overflow-x-scroll">
            {% partialdef registry-selector inline %}
            <ul id="registry-selector" class="flex gap-40 pt-12 pb-20" hx-target="#registry-selector" hx-push-url="true" hx-swap="outerHTML">
            {% for registry in registries %}
                <li class="first:pl-40 last:pr-40">{% registry_card registry 'add_gift' %}</li>
            {% endfor %}
            </ul>
            {% endpartialdef %}
            <div class="sticky left-0 right-0 bottom-4 flex justify-center">
                <div class="flex flex-col font-sub-title items-center justify-center gap-2 px-4 py-2">
                    <span class="text-4xl text-kara-strong">⟷</span>
                    <span class="text-sm">{% translate 'You can scroll to explore all repositories' %}</span>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
