{% extends "wedding_gifts/base.html" %}

{% load static i18n partials tables components %}

{% block title %}{% blocktranslate with receiver=object.receiver %}Add Gift Record | Kara{% endblocktranslate %}{% endblock %}

{% block meta_title %}{% blocktranslate with receiver=object.receiver %}Add Gift Record | Kara{% endblocktranslate %}{% endblock %}

{% block body_width %}w-screen{% endblock %}

{% block content %}
{{ block.super }}
{% section_header 'wedding_gifts/img/writing.png' 'Add Wedding Gift Record' 'Record the wedding gifts you received.' %}
<main class="my-32">
    <content>
        <div class="w-[50%] mx-auto">
            <div>
                <nav class="tab-selector gift-form">
                    <ul>
                        <li><a class="{% if gift_type == 'cash' %}active{% endif %}" href="{% querystring gift_type='cash' %}">{% trans 'Cash Gift' %}</a></li>
                        <li><a class="{% if gift_type == 'in_kind' %}active{% endif %}" href="{% querystring gift_type='in_kind' %}">{% trans 'In Kind Gift' %}</a></li>
                    </ul>
                </nav>
                <div class="px-12 pt-10 border-2 border-kara-strong rounded-b-xl">
                    <form id="gift-form" method="post" action="{{ gift_url }}">
                        {% csrf_token %}
                        {{ gift_form }}
                        <button type="submit" class="block py-4 my-6 bg-kara-base w-1/3 border-2 border-kara-base rounded-lg text-white transition-color duration-500 mx-auto hover:bg-white hover:text-kara-strong">{% trans 'Add' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </content>
</main>
{% endblock %}
