{% extends "wedding_gifts/base.html" %}

{% load static i18n partials tables wedding_gifts_components %}

{% block title %}{% blocktranslate with receiver=object.receiver %}Add Gift Record | Kara{% endblocktranslate %}{% endblock %}

{% block meta_title %}{% blocktranslate with receiver=object.receiver %}Add Gift Record | Kara{% endblocktranslate %}{% endblock %}

{% block registry_select_header %}{% component 'header' image_path='wedding_gifts/img/pencil.png' title='Select Registry' subtitle='Please select a repository before saving your record. Your saved records will be stored in the selected repository.' / %}{% endblock %}

{% block content %}
{{ block.super }}
{% component 'header' image_path='wedding_gifts/img/writing.png' title='Add Wedding Gift Record' subtitle='Record the wedding gifts you received.' / %}
<section class="my-32">
    <content>
        <div class="w-[50%] mx-auto">
            <div>
                <nav class="tab-selector gift-form border-t-2 border-l-2 border-r-2 border-kara-strong rounded-t-lg">
                    <ul>
                        <li><a class="{% if gift_type == 'cash' %}active{% endif %}" href="{% querystring gift_type='cash' %}">{% trans 'Cash Gift' %}</a></li>
                        <li><a class="{% if gift_type == 'in_kind' %}active{% endif %}" href="{% querystring gift_type='in_kind' %}">{% trans 'In Kind Gift' %}</a></li>
                    </ul>
                </nav>
                <div class="px-12 pt-10 border-2 border-kara-strong rounded-b-xl">
                    <form id="gift-form" method="post" action="{{ gift_url }}">
                        {% csrf_token %}
                        {{ gift_form }}
                        <button type="submit" class="block py-4 my-6 bg-kara-base w-1/3 border-2 border-kara-base rounded-lg text-white transition-color duration-500 mx-auto hover:bg-white hover:text-kara-strong">{% trans 'Add' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </content>
    {% url 'gift_table' pk=current_registry_pk as next_page_link %}
    {% url 'my_registry' as previous_page_link %}
    {% footer_navigation 'My Registry' 'View Records' previous_page_link next_page_link %}
</section>
{% endblock %}
