{% extends 'base/base.html' %}

{% load allauth i18n static %}

{% block title %}{% translate 'Add Wedding Gift Registry' %}{% endblock %}

{% block meta_title %}{% translate 'Add Wedding Gift Registry' %}{% endblock %}

{% block extra_media %}
    <script src="{% static 'wedding_gifts/js/previewRegistry.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block content %}
<main>
    {% setvar star_open %}
        <img class="inline-block w-[30px] h-[30px] mx-1" src="{% static 'base/img/star.png' %}">
    {% endsetvar %}
    {% setvar star_close %}
        <img class="inline-block w-[30px] h-[30px] mx-1" src="{% static 'base/img/star.png' %}">
    {% endsetvar %}
    {% component 'header' image_path='wedding_gifts/img/notebook.png' title='Add Wedding Gift Record Registry' subtitle="You can keep track of the wedding gifts you've received by adding a wedding gift registry! Try adding your wedding gift registry now" / %}
    <div class="flex gap-12">
        <div class="flex-1 flex flex-col justify-center items-center">
            <h3 class="flex justify-center font-title text-4xl my-8">{{ star_open }}{% trans 'Preview' %}{{ star_close }}</h3>
            <div id="wedding-gift-records-preview" class="flex flex-col items-center justify-center gap-8 px-4 py-12 w-[28rem] rounded-md font-bold text-registry-select-title-color duration-500 shadow-[1px_1px_0px_2px_rgba(189,_68,_103,_0.75),_0_20px_65px_rgba(189,_68,_103,_0.6)] translate-x-[2px] translate-y-[2px]">
                <p class="text-xl font-sub-title relative z-10 w-full text-center">
                    <span id="display_side">?</span>
                    <span id="display_receiver">?</span>
                    <span>{% trans "'s" %}</span>
                    <span>{% translate 'wedding gift records' %}</span>
                </p>
                <div class="w-full flex flex-col items-end font-medium">
                    <img id="display_cover_image" class="m-auto w-[20rem] h-[20rem] mb-8" alt="registry-cover-image" src="{% static 'base/img/question_mark.png' %}"/>
                    <div class="ml-auto">
                        <div class="grid grid-cols-[80px_20px_1fr] gap-1">
                            <span>{% trans 'Wedding Date' %}</span>
                            <span>:</span>
                            <div id="display_wedding_date">
                                <span id="display_wedding_date_0">?</span>
                                <span>{% trans 'year' %}</span>
                                <span id="display_wedding_date_1">?</span>
                                <span>{% trans 'month' %}</span>
                                <span id="display_wedding_date_2">?</span>
                                <span>{% trans 'day' %}</span>
                            </div>
                        </div>
                        <div class="grid grid-cols-[80px_20px_1fr] gap-1">
                            <span>{% trans 'Receptionist' %}</span>
                            <span>:</span>
                            <span id="display_receptionist">?</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1 px-12">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="block w-1/3 mx-auto py-3 px-8 my-6 bg-kara-strong border-2 border-kara-strong rounded-md text-white transtion-color duration-300 hover:bg-white hover:text-kara-strong">{% trans 'Add' %}</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
