{% load i18n base_templatetags %}

<div class="my-6 w-1/2 min-w-[480px]">
    <h2 id="table-search-form" class="sr-only">{% blocktranslate %}Search {{ model_name }}{% endblocktranslate %}</h2>
    <form method="get" role="search" {% if htmx_target %}hx-get="{% querystring table.params clear_param %}" hx-target="{{ htmx_target }}" hx-push-url="true"{% else %}href="{% querystring table.params clear_param %}"{% endif %} aria-labelledby="table-search-form">
        <div class="flex flex-col">
            <div class="w-[32rem] flex flex-row space-x-4">
                {{ field }}
                <button type="submit" class="py-2 px-8 bg-kara-strong border-2 border-kara-strong rounded-md text-white transtion-color duration-300 hover:bg-white hover:text-kara-strong">{% trans 'Search' %}</button>
            </div>
            {% if field.errors %}
            <ul class="text-sm mt-2 pl-1 text-red-700 w-inherit">{% for error in field.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% elif field.help_text%}
            <div class="text-sm helptext mt-2 pl-1"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>
            {% endif %}
        </div>
    </form>
</div>
