{% extends "base.html" %}
{% load i18n widget_tweaks %}

{% block title %}{% translate "Email Confirmation | Kara "%}{% endblock %}

{% block meta_title %}{% translate "Email Confirmation | Kara "%}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<main class="h-screen my-5 mx-8 flex">
    <div class="h-full flex flex-1 flex-col items-center justify-center">
        <h1 class="text-5xl font-title tracking-[.07em] text-kara-light-deep mb-2">{% translate "Please check your inbox!" %}</h1>
        <p class="my-6 text-center">{% blocktranslate %}To complete your registration, please enter the 6-digit code sent to <span class="text-kara-deep">{{ email }}</span>{% endblocktranslate %}</p>
        <div class="row w-4/5">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field-container">
                            {{ field.as_field_group }}
                        </div>
                    {% endfor %}
                    <div class="pl-1 flex mt-4 mb-2">
                        <button 
                        type="submit"
                        name="action_resend"
                        class="
                        resend-code text-kara-strong hover:text-kara-deep transition-colors duration-500 mr-4
                        disabled:text-kara-shallow disabled:cursor-default disabled:opacity-80
                        "
                        >
                        {% translate "Resend Code" %}
                        </button>
                        <div class="timer"></div>
                    </div>
                    <button
                    type="submit"
                    name="action_confirm"
                    class="
                    w-full text-lg bg-kara-shallow py-3 rounded-lg text-white transition-colors duration-500
                    hover:bg-kara-very-shallow hover:text-kara-strong
                    "
                    >
                    {% translate "Verify Code" %}
                    </button>
                </form>
                <div class="flex items-center justify-center mt-4">
                    <a href="{{ later_confirm_link }}" class="text-kara-strong hover:text-kara-deep transition-colors duration-500">{% translate "I'll confirm later!"%}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-1"></div>
</main>
{% endblock %}
