{% extends "base.html" %}
{% load allauth static i18n %}

{% block title %}{% translate 'Login | kara' %}{% endblock %}

{% block meta_title %}{% translate 'Login | kara' %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <main>
        <div class="container h-screen">
            <div class="h-full flex flex-col items-center justify-center">
                <img alt="KARA" class="w-[24rem]" src="{% static 'img/kara_logo.png' %}"/>
                {% setvar link %}
                    <a class="text-kara-strong hover:text-kara-deep transition-colors duration-500" href="{% url 'signup' %}">
                    {% endsetvar %}
                    {% setvar end_link %}
                    </a>
                {% endsetvar %}
                <p class="my-6">
                    {% blocktranslate %}Don't have an account you? {{ link }}signup{{ end_link }}{% endblocktranslate %}
                </p>
                <div class="w-full max-w-sm">
                    <form class="flex flex-col items-center justify-center" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button
                        class="
                        text-lg w-[24rem] mt-10 bg-kara-shallow py-3 rounded-lg text-white transition-colors duration-500
                        hover:bg-kara-very-shallow hover:text-kara-deep
                        "
                        type="submit"
                        >{% trans 'Login' %}</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
