{% extends "base.html" %}
{% load allauth i18n static %}

{% block title %}{% translate "Registration | Kara" %}{% endblock %}

{% block meta_title %}{% translate "Registration | Kara" %}{% endblock %}

{% block content %}
<main class="my-5 mx-8 flex">
    <div class="flex-1 px-20">
        <h1 class="text-6xl font-title mb-4 tracking-[.2em] text-kara-light-deep">{% translate "Registration" %}</h1>
        {% setvar link %}
            <a class="text-kara-strong hover:text-kara-deep transition-colors duration-300" href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p class="my-6">
            {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
        </p>
        <div class="w-full max-w-sm">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button
                type="submit"
                class="
                text-lg w-[24rem] mt-10 bg-kara-shallow py-3 rounded-lg text-white transition-colors duration-500
                hover:bg-kara-very-shallow hover:text-kara-deep
                "
                >
                {% translate "Signup" %}
                </button>
            </form>
        </div>
    </div>
    <div class="flex-1">
    </div>
</main>
{% endblock content %}
