<footer>
    <nav>
        <div class="flex my-20 px-20 justify-between font-sub-title text-lg">
            <a href="{{ previous_page_link }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" 
                    class="w-[6rem] transition-all duration-150 cursor-pointer"
                    fill="rgb(125, 42, 66)"
                    style="filter: drop-shadow(4px 4px 0px rgba(189, 68, 103, 0.75));"
                    onmouseenter="this.style.filter='drop-shadow(2px 2px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(2px, 2px)'"
                    onmouseleave="this.style.filter='drop-shadow(4px 4px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(0px, 0px)'"
                    onmousedown="this.style.filter='drop-shadow(0px 0px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(4px, 4px)'"
                    onmouseup="this.style.filter='drop-shadow(2px 2px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(2px, 2px)'"
                >
                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
                <span>{{ left_title }}</span>
            </a>
            <a href="{{ next_page_link }}" class="flex flex-col items-end">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" 
                    class="w-[6rem] transition-all duration-150 cursor-pointer"
                    fill="rgb(125, 42, 66)"
                    style="filter: drop-shadow(4px 4px 0px rgba(189, 68, 103, 0.75));"
                    onmouseenter="this.style.filter='drop-shadow(2px 2px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(2px, 2px)'"
                    onmouseleave="this.style.filter='drop-shadow(4px 4px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(0px, 0px)'"
                    onmousedown="this.style.filter='drop-shadow(0px 0px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(4px, 4px)'"
                    onmouseup="this.style.filter='drop-shadow(2px 2px 0px rgba(189, 68, 103, 0.75))'; this.style.transform='translate(2px, 2px)'"
                >
                    <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                </svg>
                <span>{{ right_title }}</span>
            </a>
        </div>
    </nav>
</footer>
