<style>
    input[type="checkbox"]:checked + label span.checkbox {
        background-color: var(--kara-strong);
        border-color: #FFEEEE;
    }
</style>

<div class="relative text-sm">
    <input type="checkbox" id="{{ widget.name }}" name="{{ widget.name }}" class="absolute w-0 h-0 opacity-0 cursor-pointer peer" {% include "django/forms/widgets/attrs.html" %}>
    <label for="{{ widget.name }}" 
    class="
    flex items-center cursor-pointer select-none text-kara-strong px-[0.375rem] py-2 rounded border-2 border-kara-strong transition-color duration-300
    hover:bg-kara-base hover:text-white
    focus:outline-none focus:ring-2 focus:ring-gray-600
    peer-checked:bg-kara-strong peer-checked:text-white
    "
    >
        <span
        class="
        checkbox
        relative w-5 h-5 border-2 border-gray-400 rounded bg-white mr-2 flex items-center justify-center
        "
        >
        <svg fill="none" class="absolute w-3 h-3 text-white" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
        </svg>
        </span>
        <span class="text-base font-sans">{{ widget.attrs.label }}</span>
    </label>
</div>
