:root {
    --kara-light: #F3AFC2;
    --kara-light-shallow: rgba(243, 175, 194, 0.2);
    --kara-base: #E46A88;
    --kara-base-shallow: rgba(228, 106, 136, 0.2);
    --kara-strong: #C44B6B;
    --kara-strong-shallow: rgba(196, 75, 107, 0.2);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.brand-icon {
    height: 4rem;
    width: 8rem;
    object-fit: cover;
}

.burger-menu {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.burger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    border-radius: 2px;
    transition: transform 0.3s ease-in-out, opacity 0.2s ease;
}

.burger-menu span:nth-child(1) {
    transform: translateY(-6px);
}

.burger-menu span:nth-child(3) {
    transform: translateY(6px);
}

.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
    transform: scale(0.2);
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
}

/* INPUT */

input:is(
    :not([type]),
    [type="text"],
    [type="password"],
    [type="email"],
    [type="number"],
    [type="search"],
) {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #111827;
    background-color: transparent;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: var(--kara-base);
    appearance: none;
}

input:is(
    :not([type]),
    [type="text"],
    [type="password"],
    [type="email"],
    [type="number"],
    [type="search"],
):focus {
    outline: none;
    box-shadow: none;
    border-color: var(--kara-strong);
}

input:is(
    :not([type]),
    [type="text"],
    [type="password"],
    [type="email"],
    [type="number"]
) + label {
    position: absolute;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--kara-light);
    transition-duration: 300ms;
    transform: translateY(-1rem) scale(0.75);
    top: 0.5rem;
    z-index: 10;
    transform-origin: 0;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    left: 0.25rem;
}

input:is(
    :not([type]),
    [type="text"],
    [type="password"],
    [type="email"],
    [type="number"],
):placeholder-shown + label {
    transform: translateY(-50%) scale(1);
    top: 50%;
}

input:is(
  :not([type]),
  [type="text"],
  [type="password"],
  [type="email"],
  [type="number"]
):is(:focus:placeholder-shown, :focus, :not(:placeholder-shown)) + label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--kara-strong);
  top: 0.5rem;
  transform: translateY(-1.25rem) scale(0.75);
  left: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"] {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: calc(infinity * 1px);
    appearance: none;
    border: 2px solid var(--kara-light);
    transition-property: color, background-color, border-color, border, text-decoration-color, fill, stroke;
    transition-duration: 500ms;
    margin-right: 0.5rem;
    color: var(--kara-strong);
    cursor: pointer;
}

input[type="radio"]:checked {
    border: 0.4em solid var(--kara-strong);
}

input[type="radio"]:hover {
    box-shadow: 0 0 0 0.2em var(--kara-light);
}

input[type="radio"]:focus {
    --tw-ring-shadow: 0 0 #000 !important;
}

input[type="search"] {
    width: auto;
    box-sizing: border-box;
    line-height: 1rem;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    height: 50px;
}

/* TABLE */

table thead tr {
    border-bottom: 2px;
    border-color: var(--kara-strong);
}

table thead tr th {
    padding: 12px 8px;
}

table tbody tr td {
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: var(--kara-strong-shallow);
}

tbody tr:nth-child(even) {
    background-color: var(--kara-light-shallow);
}

/* PAGINATION */

.paginate-container {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.pagination a, .pagination em, .pagination span{
    padding: 5px 10px;
    min-width: 32px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border-color .2s cubic-bezier(0.3, 0, 0.5, 1);
}

/* TAB SELECTOR */

.tab-selector ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tab-selector ul li {
    width: 100%;
    text-align: center;
}

.tab-selector ul li a {
    display: block;
    border: 2px solid var(--kara-strong);
    border-bottom: 0;
    padding: 16px 0;
}

.tab-selector ul li:last-child a {
    border-left: 0;
    border-top-right-radius: 10px;
}

.tab-selector ul li:first-child a {
    border-top-left-radius: 10px;
}

.tab-selector ul li a:hover {
    background: var(--kara-base);
    width: 100%;
    color: white;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.tab-selector ul li a.active {
    background: var(--kara-strong);
    color: white;
    font-weight: bold;
    cursor: default;
}

/* SELECT */

.select-container {
    position: relative;
    color: var(--kara-strong);
    padding: 16px;
    border: 2px solid var(--kara-strong);
    background-color: var(--kara-base-shallow);
    border-radius: 0.5rem;
}

.select-container label {
    position: absolute;
    background-color: white;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transform: translateY(-2rem) scale(0.75);
    left: 0.5rem;
}

.select-container select {
    border: 2px solid var(--kara-base);
    border-radius: 0.5rem;
    padding: 10px 24px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.select-container select:focus {
    outline: none;
    box-shadow: none;
}

/* SEARCH */

.search-container {
    position: relative;
}

.search-container .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    color: #999;
}

@supports (clip-path: polygon(50% 0, 100% 50%, 50% 100%)) {
    .pagination .previous-page::before, .pagination .next-page::after {
        display: inline-block;
        width: 17px;
        height: 17px;
        vertical-align: text-bottom;
        content: "";
        background-color: currentColor;
    }

    .pagination .previous-page::before {
        clip-path: polygon(9.8px 12.8px, 8.7px 12.8px, 4.5px 8.5px, 4.5px 7.5px, 8.7px 3.2px, 9.8px 4.3px, 6.1px 8px, 9.8px 11.7px, 9.8px 12.8px);
        margin-right: 4px;
    }

    .pagination .next-page::after {
        clip-path: polygon(6.2px 3.2px, 7.3px 3.2px, 11.5px 7.5px, 11.5px 8.5px, 7.3px 12.8px, 6.2px 11.7px, 9.9px 8px, 6.2px 4.3px, 6.2px 3.2px);
        margin-left: 4px;
    }
}

.next-page, .previous-page{
    color: var(--kara-base);
    margin-left: 5px;
    margin-right: 5px;
}

.pagination a:hover {
    border-color: var(--kara-light);
}

.pagination em {
    font-style: normal;
    cursor: default;
}

.pagination .current-page {
    font-weight: bold;
    color: white;
    background-color: var(--kara-strong);
}

.pagination .disabled {
    color: gray;
    cursor: default;
    border-color: transparent;
}
