{% load i18n static %}
<nav class="bg-white">
    <div class="mx-4 flex h-18 items-center gap-12 px-1 py-2 sm:px-4 lg:px-2">
        <a class="block text-teal-600" href={% url 'home' %}>
            <img alt="KARA" class="brand-icon" src="{% static 'img/kara_logo.png' %}"/>
        </a>
    <div class="flex flex-1 items-center justify-end md:justify-between">
        <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-12">
                <li class="border-b-4 border-transparent hover:border-kara-deep/20">
                    <a class="outline-link py-1 text-kara-strong transition duration-500 hover:text-kara-deep cursor-pointer" target="_blank" href="https://github.com/Antoliny0919/kara">
                        {% trans 'Program Information' %}
                    </a>
                </li>
                <li class="border-b-4 border-transparent hover:border-kara-deep/20">
                    <a class="outline-link py-1 text-kara-strong transition duration-500 hover:text-kara-deep cursor-pointer"  href="">
                        {% trans 'Gift Tracker' %}
                    </a>
                </li>
                <li class="border-b-4 border-transparent hover:border-kara-deep/20">
                    <a class="outline-link py-2 text-kara-strong transition duration-500 hover:text-kara-deep cursor-pointer"  href="">
                        {% trans 'My Wedding Expenses' %}
                    </a>
                </li>
            </ul>
        </nav>
        <div class="flex items-center gap-4">
            {% if not user.is_authenticated %}
            <div class="hidden flex-row sm:flex gap-4">
                <a class="block rounded-md bg-kara-very-shallow px-4 py-2.5 text-sm font-medium duration-500 text-kara-deep transition hover:bg-kara-strong hover:text-white cursor-pointer" href="{% url 'login' %}">
                  {% trans 'Login' %}
                </a>
                <a class="block rounded-md bg-kara-strong px-5 py-2.5 text-sm font-medium text-white duration-500 transition hover:bg-kara-deep cursor-pointer" href="{% url 'signup' %}">
                  {% trans 'Sign Up' %}
                </a>
            </div>
            <div class="relative block md:hidden" x-data="{ showSidePanel: false }">
                <button
                class="block rounded bg-kara-very-shallow p-2.5 text-kara-deep transition md:hidden"
                @click="showSidePanel = !showSidePanel"
                >
                    <div class="burger-menu" :class="{ 'active': showSidePanel }">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div 
                x-cloak 
                x-show="showSidePanel" 
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform translate-x-full"
                x-transition:enter-end="opacity-100 transform translate-x-0"
                class="fixed inset-y-0 right-0 top-16 z-50 w-screen bg-white shadow-xl"
                >
                    <div class="py-10 px-10 font-bold">
                        <ul>
                            <li class="hover:bg-kara-shallow/20 border-t-2 border-t-kara-shallow/60">
                                <a class="block p-4 outline-link text-kara-strong transition hover:text-kara-deep" target="_blank" href="https://github.com/Antoliny0919/kara">
                                {% trans 'Program Information' %}
                                </a>
                            </li>
                            <li class="hover:bg-kara-shallow/20 border-t-2 border-t-kara-shallow/60">
                                <a class="block p-4 outline-link text-kara-strong transition hover:text-kara-deep" href="">
                                {% trans 'Gift Tracker' %}
                                </a>
                            </li>
                            <li class="hover:bg-kara-shallow/20 border-t-2 border-t-kara-shallow/60">
                                <a class="block p-4 outline-link text-kara-strong transition hover:text-kara-deep" href="">
                                {% trans 'My Wedding Expenses' %}
                                </a>
                            </li>
                        </ul>
                        <a class="block w-full py-3 mt-10 bg-kara-strong text-white text-center transition-color duration-500 border rounded-lg border-kara-strong hover:bg-white hover:text-kara-strong" role="button" href="{% url 'login' %}">{% trans 'Get started!' %}</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="relative block" x-data="{ showSidePanel: false }">
                <button
                class="
                w-[50px] h-[50px] rounded-full p-1 bg-transparent cursor-pointer 
                overflow-hidden transition-all duration-500 ease-in-out
                hover:ring-2 hover:ring-kara-deep
                "
                @click="showSidePanel = !showSidePanel"
                >
                    <img alt="profile" src="{{ user.profile.bio_image.url }}"/>
                </button>
                <div
                x-cloak
                x-show="showSidePanel"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform translate-x-full"
                x-transition:enter-end="opacity-100 transform translate-x-0"
                class="fixed w-full inset-y-0 right-0 z-50 md:w-[420px] bg-white shadow-xl"
                >
                    <button
                    id="closeSidePanel"
                    type="button"
                    class="absolute top-4 left-4 p-2 rounded-full hover:bg-kara-shallow transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-gray-300 flex items-center"
                    @click="showSidePanel = false"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-kara-deep" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                        </svg>
                        <span class="ml-1 text-kara-deep">{% trans 'Back' %}</span>
                    </button>
                    <div class="px-8 py-6">
                        <div class="flex flex-col items-center justify-center">
                            <div class="w-3/5 h-3/5 rounded-full bg-transparent">
                                <img alt="profile" src="{{ user.profile.bio_image.url }}"/>
                            </div>
                            <h2 class="text-lg mt-6 text-center">
                                {% blocktranslate with username=user.username %}Welcome, {{ username }}! How's your day going today 🙌{% endblocktranslate %}
                            </h2>
                        </div>
                        <ul class="mt-6 text-lg">
                            <li class="md:hidden py-4 px-2 border-t-2 border-t-kara-shallow/60 hover:bg-kara-shallow hover:text-white transition-colors duration-300">
                                <span class="mr-1">&gt;</span><a href="">{% trans 'Gift Tracker' %}</a>
                            </li>
                            <li class="md:hidden py-4 px-2 border-t-2 border-t-kara-shallow/60 hover:bg-kara-shallow hover:text-white transition-colors duration-300">
                                <span class="mr-1">&gt;</span><a href="">{% trans 'My Wedding Expenses' %}</a>
                            </li>
                            <li class="py-4 px-2 border-t-2 border-t-kara-shallow/60 hover:bg-kara-shallow hover:text-white transition-colors duration-300">
                                <span class="mr-1">&gt;</span><a href="">{% trans 'Profile' %}</a>
                            </li>
                            <li class="py-4 px-2 border-t-2 border-t-kara-shallow/60 hover:bg-kara-shallow hover:text-white transition-colors duration-300">
                                <span class="mr-1">&gt;</span><a href="">{% trans 'Logout' %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</nav>
