{% load i18n static %}

<div id="{{ widget.attrs.id }}" class="dropdown-multi-choose" x-data="{ dropdownPanel: false }" @click.away="dropdownPanel = false">
    <div id="{{ widget.attrs.id }}_select" class="opener">
        <button type="button" aria-expanded="false" @click="dropdownPanel = !dropdownPanel" :class="{ 'active': dropdownPanel }">
            <span>{{ widget.attrs.label }}</span>
            <span class="dropdown-control-button-svg"></span>
        </button>
    </div>
    <div>
        <ul id="{{ widget.attrs.id }}_selected" class="result"></ul>
    </div>
    <div x-show="dropdownPanel" id="{{ widget.attrs.id }}-dropdown-panel" class="dropdown-panel">
        <ul>
            <li id="{{ widget.attrs.id }}_to" class="choose-block">
                <h3>{% blocktranslate with label=widget.attrs.label %}Selected {{ label }}{% endblocktranslate %}</h3>
                <ul id="{{ widget.attrs.id }}_to_options"></ul>
            </li>
            <li id="{{ widget.attrs.id }}_from" class="choose-block">
                <h3>{% blocktranslate with label=widget.attrs.label %}Select {{ label }}{% endblocktranslate %}</h3>
                <ul id="{{ widget.attrs.id }}_from_options">
                {% for group_name, group_choices, group_index in widget.optgroups %}
                {% for option in group_choices %}
                    {% include option.template_name with widget=option %}
                {% endfor %}
                {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<script src="{% static "base/js/chooseBox.js" %}"></script>
<script src="{% static "base/js/dropdownMultiChoose.js" %}"></script>
