<div class="relative">
    <textarea
        id="{{ widget.name }}"
        name="{{ widget.name }}"
        class="
        block w-full px-2.5 pb-2.5 pt-4 text-lg text-gray-900 bg-transparent rounded-lg border-2 border-kara-base appearance-none
        focus:outline-none focus:ring-0 focus:border-kara-strong peer resize-none
        "
        placeholder=" "
        {% include "django/forms/widgets/attrs.html" %}
    >{% if widget.value %}{{ widget.value }}{% endif %}</textarea>
    <label
        for="{{ widget.name }}"
        class="
        absolute text-lg text-kara-light duration-300 transform scale-75 top-2 z-10 origin-[0] bg-white px-2 start-1
        peer-focus:px-2 peer-focus:text-kara-strong peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-5 peer-focus:left-4
        peer-placeholder-shown:scale-100
        peer-[&:not(:placeholder-shown)]:text-kara-strong peer-[&:not(:placeholder-shown)]:-translate-y-5 peer-[&:not(:placeholder-shown)]:left-4
        "
    >{{ widget.attrs.label }}</label>
</div>
