{% load i18n static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="title" content="{% block meta_title %}{% endblock meta_title %}"/>
        {% tailwind_css %}
        <link rel="stylesheet" href="{% static 'css/dist/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/kara.css' %}">
	</head>
    <body class="flex flex-col h-screen font-common {% block body_class %}{% endblock %}">
        {% block navbar %}{% include 'base/includes/nav.html' %}{% endblock %}
        {% include 'base/includes/messages.html' %}
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <div class="container flex justify-center mb-auto mx-auto max-w-screen-xl">
            <div class="w-4/5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
